@font-face {
    font-family: Geist;
    src: url(fonts/Geist-1.3.0/variable-ttf/GeistVF.ttf) format(ttf);
    src: url(fonts/Geist-1.3.0/variable-woff/GeistVF.woff) format(woff);
    src: url(fonts/Geist-1.3.0/variable-woff/GeistVF.woff2) format(woff2);
    font-weight: 100 900;
}
body {
    font-family: 'Geist', Times;
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0;
    background: rgb(27, 14, 1);
    color: aliceblue;
}
.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
  .silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.image {
    position: relative;

    flex-shrink: 1;
    max-height: 100vh;   
    
}
.image img{
    max-width: calc(100vh * 36/54);
}
.image p, .image h1{
    position: absolute;
    text-align: center;
    width: 100%;
}
.image p {
    bottom: 12px;
}
.image h1 {
    top: 45px;
}
h1 {
    font-family: 'Silkscreen';
    font-size: 2.5rem;
}  
.bold {
    font-weight: 500;
    font-size: large;
    line-height: 1.5;
}
.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    min-width: 325px;
}
.form-box > p {
    padding-left: calc(8vw - 1rem);
    padding-right: calc(8vw - 3rem);
}
button {
    appearance: none;
    margin-left: calc(8vw - 1rem);
    margin-right: calc(8vw - 3rem);
    height: 2rem;
    width: 20ch;
    border-radius: 12px ;
    font-weight: 600;
    font-size: 1rem;
    background-color: rgb(247, 228,153);
}
.form-container > p {
    margin-bottom: 2rem;

}
.form-container {
    background: rgb(32, 19, 7);
    background-clip: padding-box;
    padding-left: calc(8vw - 1rem);
    padding-right: calc(8vw - 3rem);
    margin-bottom: 2rem;
}

form {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 100%;
    flex: 1;
    
    /* flex-shrink: 1; */
}
form p {
    position: relative;
    /* min-width: 200px;
    width: 40%; */
    width: clamp(250px,40%,100%);
    padding-bottom: 1.5rem;
    padding-top: 22px;
    padding-right: 30px;
    margin: 0;
    
}
form label {
    position: absolute;
    bottom: 3.5rem;
    left: 0.2rem;
    font-size: 0.7rem;
    font-weight: 500;
    color: rgb(211, 176, 143);

}
input {
    appearance: none;
    height: 1.6rem;
    font-size: 1rem;
    border-radius: 12px;
    border: 1px solid rgb(42, 1, 1);
    background-color: rgb(41, 22, 3);
    min-width: 100%;
    padding-left: 8px;
    color: aliceblue;
}
a:link{
    color: rgb(147, 147, 243);
}
a:visited {
    color: rgb(240, 189, 240);
}
@media only screen and (max-device-width: 480px){
    body {
        flex-direction: column;
        max-width: 100vw;   
    }
    .image img{
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }
    .form-box > p{
        font-weight: 400;
        font-size: 1.1rem;
    }
    .form-box {
        min-height: 100vh;
    }
    .form-container {
        width: 85%;
        border-radius: 12px;
        align-self: center;
        text-align: justify;
    }
    form p {
        width: 80%;
    }
    .form-container > p {
        position: relative;
        left: 25px;
    }
    form {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    button {
        align-self: center;
        height: 2.5rem;
    }
    #alr {
        text-align: center;
    } 
}